<form class="mt-12" ngForm #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <label for="username" class="sr-only">Username: </label>
  <input
    type="text"
    placeholder="Choose an username"
    #username="ngModel"
    ngModel
    name="username"
    id="username"
    required
    minlength="3"
    maxlength="40"
    class="border-2 p-2 rounded-sm"
  />

  <button
    type="submit"
    class="border-2 px-4 py-2 ml-2 bg-blue-400 text-slate-50 text-lg font-semibold rounded-sm"
    [disabled]="loginForm.invalid"
  >
    Login
  </button>

  <div *ngIf="username.errors && (username.dirty || username.touched)">
    <p *ngIf="username.errors['required']">Username is required</p>
    <p *ngIf="username.errors['minlength']">Username is too short</p>
  </div>
</form>
