<nav class="bg-dark-blue border-b-2 border-yellow text-yellow py-8">
  <div
    class="container flex flex-col md:flex-row items-center justify-between xl:justify-around gap-4 mx-auto"
  >
    <div
      class="flex items-center justify-center text-lg lg:text-xl font-semibold"
    >
      <a
        [classList]="
          'py-2 px-4 lg:py-4 lg:px-8 hover:underline rounded-md ' +
          (route === '/catalogue' && 'bg-light-blue')
        "
        [routerLink]="['/catalogue']"
        >Catalogue Page</a
      >
      <a
        [classList]="
          'py-2 px-4 lg:py-4 lg:px-8 hover:underline rounded-md ' +
          (route === '/trainer' && 'bg-light-blue')
        "
        [routerLink]="['/trainer']"
        >Trainer Page</a
      >
    </div>
    <div class="flex flex-col md:flex-row gap-2 lg:gap-6 items-center">
      <p class="text-lg italic">
        Logged in as
        <span class="font-semibold text-xl not-italic">{{ username }}</span>
      </p>
      <button
        class="text-lg lg:text-xl font-semibold bg-light-blue hover:bg-yellow rounded-md transition-all text-boring-text px-4 py-2 lg:px-6 lg:py-3"
        (click)="onLogout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
