<nav class="bg-blue-400 border-b-2 border-yellow-100 text-blue-50 py-8">
  <div class="container flex justify-evenly items-center mx-auto">
    <div class="flex items-center gap-2 text-xl font-semibold">
      <a
        [classList]="
          'py-4 px-8 hover:underline rounded-md ' +
          (route === '/catalogue' && 'bg-blue-500')
        "
        [routerLink]="['/catalogue']"
        >Catalogue Page</a
      >
      <a
        [classList]="
          'py-4 px-8 hover:underline rounded-md ' +
          (route === '/trainer' && 'bg-blue-500')
        "
        [routerLink]="['/trainer']"
        >Trainer Page</a
      >
    </div>
    <div class="flex items-center gap-6">
      <p class="text-lg italic">
        Logged in as
        <span class="font-semibold text-xl not-italic">{{ username }}</span>
      </p>
      <button
        class="text-xl font-semibold bg-blue-500 hover:bg-blue-600 rounded-md transition-all text-slate-50 px-6 py-3"
        (click)="onLogout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
