<div
  [classList]="
    'border-2 border-yellow text-yellow shadow-2xl transform-gpu hover:scale-110   rounded-lg transition-transform text-center p-4 bg-dark-blue py-6 ' +
    (isPokemonCaptured(pokemon) && 'opacity-40 hover:scale-100')
  "
>
  <p class="text-3xl font-semibold">
    {{ capitalize(pokemon?.name) }}
  </p>
  <p class="text-xl italic">#{{ this.formatId(pokemon?.id) }}</p>
  <img
    width="200px"
    class="mt-4 mb-8 border-2 border-yellow border-dashed bg-light-blue rounded-lg"
    src="{{ pokemon?.imageUrl }}"
    alt=""
  />
  <button
    [classList]="
      'bg-light-blue text-lg rounded-md hover:bg-yellow-shadow transition-colors font-semibold px-6 py-2 ' +
      (isPokemonCaptured(pokemon) && 'hover:bg-dark-blue')
    "
    (click)="onPokemonCaptureClick(pokemon)"
    [disabled]="isPokemonCaptured(pokemon)"
  >
    {{ isPokemonCaptured(pokemon) ? "Captured" : "Capture" }}
  </button>
</div>
