<form
  class="mt-8 lg:mt-6 text-xl text-center"
  ngForm
  #loginForm="ngForm"
  (ngSubmit)="onSubmit(loginForm)"
>
  <label for="username" class="sr-only">Username: </label>
  <input
    type="text"
    placeholder="Choose an username"
    #username="ngModel"
    ngModel
    name="username"
    id="username"
    required
    minlength="4"
    maxlength="40"
    class="w-3/4 lg:w-4/12 px-4 py-4 rounded-md shadow-md border-2 border-yellow"
  />

  <button
    class="font-semibold mt-6 bg-yellow-shadow shadow-md disabled:opacity-50 disabled:hover:bg-yellow-shadow hover:bg-yellow ml-4 rounded-md transition-all text-boring-text px-8 py-4 border-2 border-dark-blue"
    type="submit"
    [disabled]="loginForm.invalid"
  >
    Submit
  </button>

  <div
    class="mt-6 font-semibold text-2xl text-yellow"
    *ngIf="username.errors && (username.dirty || username.touched)"
  >
    <p *ngIf="username.errors['required']">Username is required!</p>
    <p *ngIf="username.errors['minlength']">Username is too short!</p>
  </div>
</form>
